{
  "branches": ["main"],
  "plugins": [
    ["@semantic-release/release-notes-generator", {
      "linkCompare": false,
      "linkReferences": false,
    }],
    "@semantic-release/github"
  ],
  "options": {
    "types": [
          {"type": "feat", "section": "Nouveautés"},
          {"type": "fix", "section": "Corrections"},
          {"type": "chore", "hidden": true},
          {"type": "docs", "hidden": true},
          {"type": "style", "hidden": true},
          {"type": "refactor", "hidden": true},
          {"type": "perf", "section": "Optimisations"},
          {"type": "test", "hidden": true}
      ]
  }
}
